<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header">Your Sites</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Url</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @sites.each do |site| %>
            <tr>
              <td><%= site.name %></td>
              <td><%= site.url %></td>
              <td class="col-xs-1"><%= link_to 'Show', site %></td>
              <td class="col-xs-1"><%= link_to 'Edit', edit_site_path(site) %></td>
              <td class="col-xs-1"><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>