<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-8 col-md-9">
                        <h1><%= @site.name %> <small><%= @site.url %></small></h1>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <div class="btn-group btn-group-justified">
                            <%= link_to "Settings", edit_site_path(@site), class: "btn btn-success" %>

                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    Sites <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <% current_user.sites.each do |site| %>
                                    <li><%= link_to site.name, site_path(site) %></li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% unless @site.site_events.any? %>
    <div class="row">
        <div class="col-xs-12">
            <%= render partial: "installation", locals: { site: @site } %>
        </div>
    </div>
    <% end %>

    <div class="row">
        <form>
            <div class="col-sm-6 hidden-xs">
                <h4><%= @start_date.strftime("%B %d, %Y") %> <small> to </small> <%= @end_date.strftime("%B %d, %Y") %></h4>
            </div>
            <div class="form-group col-sm-4 ">
                <div class="input-daterange input-group">
                    <input type="text" class="form-control" name="start_date" value="<%= @start_date.to_s(:db) %>" />
                    <span class="input-group-addon">to</span>
                    <input type="text" class="form-control" name="end_date" value="<%= @end_date.to_date.to_s(:db) %>" />
                </div>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary btn-block">Refresh</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="page-view-chart" class="chart"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body metric-panel text-center">
                    <%= number_with_delimiter(@site.site_events.where(created_at: @start_date..@end_date).count()) %>
                </div>
                <div class="panel-footer text-center">
                    Total Visits
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-2">
            <div class="panel panel-default">
                <div class="panel-body metric-panel text-center">
                    <%= @site.get_unique_count_by(@start_date, @end_date, "path").count() %>
                </div>
                <div class="panel-footer text-center">
                    Pages
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-2">
            <div class="panel panel-default">
                <div class="panel-body metric-panel text-center">
                    <%= @site.get_unique_count_by(@start_date, @end_date, "browser").count() %>
                </div>
                <div class="panel-footer text-center">
                    Browsers
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-2">
            <div class="panel panel-default">
                <div class="panel-body metric-panel text-center">
                    <%= @site.get_unique_count_by(@start_date, @end_date, "platform").count() %>
                </div>
                <div class="panel-footer text-center">
                    Operating Systems
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-2">
            <div class="panel panel-default">
                <div class="panel-body metric-panel text-center">
                    <%= @site.get_unique_count_by(@start_date, @end_date, "ip").count() %>
                </div>
                <div class="panel-footer text-center">
                    Users
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#pages" aria-controls="pages" role="tab" data-toggle="tab">Pages</a>
                </li>
                <li role="presentation">
                    <a href="#browsers" aria-controls="browsers" role="tab" data-toggle="tab">Browsers</a>
                </li>
                <li role="presentation">
                    <a href="#operating_systems" aria-controls="operating_systems" role="tab" data-toggle="tab">Operating Systems</a>
                </li>
                <li role="presentation">
                    <a href="#users" aria-controls="users" role="tab" data-toggle="tab">Users</a>
                </li>
            </ul>

            <div class="tab-content">
                <!-- Pages Content -->
                <div role="tabpanel" class="tab-pane active" id="pages">
                <%= render partial: "pages" %>
                </div>

                <!-- Browsers Content -->
                <div role="tabpanel" class="tab-pane" id="browsers">
                <%= render partial: "browsers" %>
                </div>

                <!-- OS Content -->
                <div role="tabpanel" class="tab-pane" id="operating_systems">
                <%= render partial: "operating_systems" %>
                </div>

                <!-- Users Content -->
                <div role="tabpanel" class="tab-pane" id="users">
                    <%= render partial: "users" %>
                </div>
            </div>
        </div>
    </div>
</div>

<% content_for :footer_javascript do %>
    $('.input-daterange').datepicker({
        todayBtn: "linked",
        autoclose: true,
        todayHighlight: true,
        endDate: "today",
        startDate: "-1y",
        format: "yyyy-mm-dd"
    });

    $('#page-view-chart').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: null
        },
        plotOptions: {
            area: {
                showInLegend: false
            }
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: null
            }
        },
        yAxis: {
            title: {
                text: null
            }
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x:%B %e, %Y}: {point.y} Views'
        },
        series: [
            {
                name: 'Page Views Per Day',
                data: <%= @page_visit_data.map { |d| [(Time.parse(d["day"]).to_f * 1000), d["count"].to_i] }.to_json.html_safe %>
            }
        ],
        credits: false
    });
<% end %>